Repository Bruin-Spacecraft-Group/RAPID-0-Software, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Touwfoo, @Randall-Scharpf, @anniexiang01, @sethferrell

.github/CODEOWNERS:

# RAPID-0 Policy: Each artifact is owned by the subteam lead of
# the team in charge of that artifact and up to one other person
# designated by the former. All software not included in a specific
# artifact is owned by the PM, CE, and any subteam leads who are
# considered qualified to manage software project-wide by the former.

* @Touwfoo @Randall-Scharpf @anniexiang01

/artifacts/*adcs*/ @sethferrell
/artifacts/*cdh*/ @anniexiang01
/artifacts/*eps*/ @Randall-Scharpf

# Any subteam-specific artifact which does NOT contain the name
# of the subsystem owning the artifact should be specially cleared
# by someone who is also an owner of software not specific to any
# artifact, and then be listed below.

Add CDH camera code (work in progress)
  artifacts/cdh_camera/ArduCAM_Mini_2MP_Plus_VideoStreaming.py
  artifacts/cdh_camera/ArduCAM_Mini_5MP_Plus_VideoStreaming.py
  artifacts/cdh_camera/Arducam.py
  artifacts/cdh_camera/OV2640_reg.py
  artifacts/cdh_camera/OV5642_reg.py
  artifacts/cdh_camera/code.py
Owners: @anniexiang01

create application for eps engineering model pcb, v1
  applications/eps_em_v1/bms.py
  applications/eps_em_v1/code.py
  applications/eps_em_v1/datastore.py
  applications/eps_em_v1/icd.py
  applications/eps_em_v1/monitoring.py
  applications/eps_em_v1/pinout.py
  config/pylama.cfg
Owners: @Touwfoo, @Randall-Scharpf, @anniexiang01

start working the power icd task
  applications/eps_em_v1/datastore.py
  applications/eps_em_v1/icd.py
Owners: @Touwfoo, @Randall-Scharpf, @anniexiang01

get eps em v1 application into new structure
  artifacts/eps_em_v1/board.py
  artifacts/eps_em_v1/code.py
  artifacts/eps_em_v1/include.json
  src/datastore/epsds.py
  src/lib/circular_buffer.py
  src/tasks/eps/bms.py
  src/tasks/eps/icd.py
  src/tasks/eps/monitoring.py
Owners: @Randall-Scharpf, @Touwfoo, @anniexiang01

bypass full eps application with some basic stuff to test hardware
  artifacts/eps_em_v1/code.py
Owners: @Randall-Scharpf

testing fixes for eps em code
  artifacts/eps_em_v1/board.py
  artifacts/eps_em_v1/code.py
  artifacts/eps_em_v1/include.json
  src/lib/pin_manager.py
  src/tasks/eps/icd.py
Owners: @Randall-Scharpf, @Touwfoo, @anniexiang01

add submodule to undisclosable code
  .gitmodules
  artifacts/eps_em_v1/code.py
  src/lib/nda_libraries.py
  src/lib/nda_libraries_src
Owners: @Touwfoo, @Randall-Scharpf, @anniexiang01

actions only some of the submodules
  .github/workflows/github-ci.yml
Owners: @Touwfoo, @Randall-Scharpf, @anniexiang01

more actions fixes
  .github/workflows/github-ci.yml
  src/lib/nda_libraries
  src/lib/pin_manager.py
Owners: @Touwfoo, @Randall-Scharpf, @anniexiang01

add submodule to undisclosable code
  .gitmodules
  src/lib/nda_libraries.py
  src/lib/nda_libraries_src
Owners: @Touwfoo, @Randall-Scharpf, @anniexiang01

fix workflows
  .github/workflows/github-ci.yml
  src/lib/nda_libraries
  src/lib/pin_manager.py
Owners: @Touwfoo, @Randall-Scharpf, @anniexiang01

add tests for wrapper to undisclosable code
  artifacts/cdh_breakout_board_fc_sim/include.json
  src/lib/nda_libraries.py
  src/lib/nda_wrapper.py
  unit_tests/lib/nda_wrapper_test.py
Owners: @anniexiang01, @Touwfoo, @Randall-Scharpf

fix static analysis concerns by delineating responsibilities
  src/lib/nda_wrapper.py
  src/lib/pin_manager.py
Owners: @Touwfoo, @Randall-Scharpf, @anniexiang01

avoid cpython-specific exception types
  src/lib/nda_wrapper.py
Owners: @Touwfoo, @Randall-Scharpf, @anniexiang01

add name parameter for deployments to tmp folders
  tools/deploy_to_usb.py
  tools/run_unit_tests.py
  tools/static_analysis.py
Owners: @Touwfoo, @Randall-Scharpf, @anniexiang01
